<a href="https://colab.research.google.com/github/carlosdgerez/machine_learning/blob/main/decisionTrees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
# Importing the 2 sets. one for the model, and the second for final testing. 

import pandas as pd

campaign = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank.csv')
last_campaign = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bank_holdout_test.csv')

In [ ]:
# STEP 0
# First Data report

#! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip 
 
from pandas_profiling import ProfileReport as pr
 
profile = pr(campaign)
profile.to_notebook_iframe()

In [61]:
# change target y to a numeric code using a dictionary and map
target_numeric = {'yes' : 1,
                  'no': 0}
campaign.y = campaign.y.map(target_numeric)
campaign.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [62]:
# variables names with points are not friendly change them with rename
campaign.rename(columns =  {'emp.var.rate' : 'emp_var_rate',
                   'cons.price.idx': 'cons_price_idx',
                   'cons.conf.idx' : 'cons_conf_idx',
                   'nr.employed': 'nr_employed'},
                   inplace = True)
campaign.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [63]:
#start the modeling here first approach with data as it is. 
# get dummies of the categorical values 
clean_data = pd.get_dummies(campaign, columns = ['job', 'marital','education','default', 'housing', 'loan', 'contact', 'month', 'day_of_week','poutcome'], drop_first = True)

clean_data.columns

Index(['age', 'campaign', 'pdays', 'previous', 'emp_var_rate',
       'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'marital_unknown',
       'education_basic.6y', 'education_basic.9y', 'education_high.school',
       'education_illiterate', 'education_professional.course',
       'education_university.degree', 'education_unknown', 'default_unknown',
       'default_yes', 'housing_unknown', 'housing_yes', 'loan_unknown',
       'loan_yes', 'contact_telephone', 'month_aug', 'month_dec', 'month_jul',
       'month_jun', 'month_mar', 'month_may', 'month_nov', 'month_oct',
       'month_sep', 'day_of_week_mon', 'day_of_week_thu', 'day_of_week_tue',
       'day_of_week_wed', 'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')

In [64]:

### SELECTION OF ALL DATA FEATURES FOR FIRST RUN
# Decide which features to use all data here


X = clean_data.drop(['y'], axis = 1)
y = clean_data['y']

In [7]:

# MANUAL SELECTION OF FEATURES
# Decide which features to use select data here
features = ['age','nr_employed','euribor3m', 'campaign', 'housing_yes', 'cons_conf_idx', 'loan_yes','pdays', 'education_university.degree', 'marital_married', 'marital_single',]

X = clean_data [features]
y = clean_data['y']

In [97]:
# STEP 1
# Run the first clasifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

# SPLIT DATA

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .30)

## Create Decision Tree classifer object with gini criteria. Train Decision Tree with fit Classifer. Not tunned yet.

clf = DecisionTreeClassifier(criterion="gini", max_depth=10, random_state=2).fit(X_train, y_train)

In [76]:
# STEP 2 EVALUATION OF THE MODEL

#Predict the response for test dataset with Decission tree
# This report include just columns selected for correlation grade.

from sklearn.metrics import classification_report

y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))# See importance of each variable in the model Desission tree
# Features importances in a model this block can be run with diferent models to compare


feat_imports = (pd.DataFrame({"feature names": X_train.columns,
                              "importances": clf.feature_importances_})
                .sort_values("importances", ascending=False))

feat_imports

              precision    recall  f1-score   support

           0       0.72      0.87      0.79     11029
           1       0.83      0.65      0.73     10900

    accuracy                           0.76     21929
   macro avg       0.77      0.76      0.76     21929
weighted avg       0.77      0.76      0.76     21929

           feature names  importances
0            nr_employed     0.574823
1          cons_conf_idx     0.119369
2              euribor3m     0.086942
3                    age     0.070843
5               campaign     0.037156
4         cons_price_idx     0.033003
6                  pdays     0.032300
7              month_oct     0.016727
10  poutcome_nonexistent     0.012993
8        default_unknown     0.008468
9      contact_telephone     0.007376

In [70]:
# STEP 3 

# Adressing the unbalance of the set
from imblearn.over_sampling import RandomOverSampler
# https://imbalanced-learn.readthedocs.io/en/stable/user_guide.html



ro = RandomOverSampler()

# Decide which features to use (all here)


X = clean_data.drop(['y'], axis = 1)
y = clean_data['y']

# Oversample, note that we oversample X and y at the same time in order to 
# make sure our features and targets stay synched.
X_new, y_new = ro.fit_resample(X, y)

# Convert this to a dataframe and check the counts, now they're equal, because
# we have a bunch of duplicate 
y = pd.DataFrame(y_new)
X = X_new
####################################################################
# AT THIS POINT A NEW X AND y IS CREATED; RUN STEP 1 and 2 AGAIN
###################################################################

In [107]:
# STEP 4 REDUCE DIMENSIONS (LESS FEATURES)
# feat_imports was created during the evaluation process in STEP 2
feat_imports.reset_index(drop=True, inplace= True)

In [109]:
# Select the first ranked features in the current model in a list of features

features = feat_imports.loc[:8,'feature names']
features

0          nr_employed
1            euribor3m
2        cons_conf_idx
3                pdays
4       cons_price_idx
5            month_oct
6    contact_telephone
7                  age
8             campaign
Name: feature names, dtype: object

In [110]:
# STEP 5

# Use just this reduced number of features to retrain the model

# Decide which features to use ( the list features)


X = clean_data[features]
y = clean_data['y']

# Oversample, note that we oversample X and y at the same time in order to 
# make sure our features and targets stay synched.
X_new, y_new = ro.fit_resample(X, y)

# Convert this to a dataframe and check the counts, now they're equal, because
# we have a bunch of duplicate ( I reste X and y for start again here)
y = pd.DataFrame(y_new)
X = X_new

# From here the model can be run again with the new X and y values

In [ ]:
#use the new set to train the model go over the previous code

In [149]:
# STEP 6 START using Ensambles

#RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier


clfr = RandomForestClassifier(n_estimators=12,
	max_depth=39, random_state=1).fit(X_train, y_train)

#Predict the response


y_pred = clfr.predict(X_test)

# Print clasification report
print(classification_report(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

              precision    recall  f1-score   support

           0       0.94      0.83      0.88     11029
           1       0.85      0.94      0.89     10900

    accuracy                           0.89     21929
   macro avg       0.89      0.89      0.89     21929
weighted avg       0.89      0.89      0.89     21929

In [163]:
# STEP 7
# GradientBoostingClassifier
#from sklearn.ensemble import GradientBoostingClassifier

clfB = GradientBoostingClassifier(n_estimators=10 ,learning_rate=0.5,
                                 max_depth=37, random_state=1, verbose = 3).fit(X_train, y_train)

#Predict the response for test  gradient boost


y_pred = clfB.predict(X_test)

# Print clasification report

print(classification_report(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

      Iter       Train Loss   Remaining Time
         1           0.7752            4.66s
         2           0.5489            4.27s
         3           0.4365            3.66s
         4           0.3753            3.13s
         5           0.3405            2.59s
         6           0.3202            2.07s
         7           0.3081            1.55s
         8           0.3009            1.03s
         9           0.2966            0.52s
        10           0.2939            0.00s
              precision    recall  f1-score   support

           0       0.95      0.83      0.88     11029
           1       0.85      0.96      0.90     10900

    accuracy                           0.89     21929
   macro avg       0.90      0.89      0.89     21929
weighted avg       0.90      0.89      0.89     21929

In [103]:
# STEP 2 again  EVALUATION OF THE MODEL

feat_imports = (pd.DataFrame({"feature names": X_train.columns,
                              "importances": clfB.feature_importances_})
                .sort_values("importances", ascending=False))

feat_imports

           feature names  importances
0            nr_employed     0.665358
2              euribor3m     0.145476
1          cons_conf_idx     0.064920
6                  pdays     0.029150
4         cons_price_idx     0.025483
7              month_oct     0.023004
9      contact_telephone     0.015287
3                    age     0.011349
5               campaign     0.010061
8        default_unknown     0.006098
10  poutcome_nonexistent     0.003814

In [158]:
# STEP 8 HistGradientBoostingClassifier

from sklearn.ensemble import HistGradientBoostingClassifier

clfH = HistGradientBoostingClassifier(random_state=1).fit(X_train, y_train)

# Print Classification report

print(classification_report (y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

              precision    recall  f1-score   support

           0       0.94      0.83      0.88     11029
           1       0.85      0.94      0.89     10900

    accuracy                           0.89     21929
   macro avg       0.89      0.89      0.89     21929
weighted avg       0.89      0.89      0.89     21929