<a href="https://colab.research.google.com/github/carlosdgerez/machine_learning/blob/main/firstBoostClasif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')

In [2]:
#Changing date to be in the same format as the rest of the years features
import datetime
housing['date'] = pd.DatetimeIndex(housing['date']).year

In [6]:
# selecting the data for the model ( first approach with all data to set a base to compare)

# drop several columns first 
clean_data = housing.drop(['id', 'lat', 'long'], axis = 1)

# change date name to something more descriptive
clean_data.rename(columns={'date': 'sale_date'}, inplace=True)

In [10]:
clean_data.head()

,sale_date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,price
0,2014,4,3.25,3760,4675,2.0,0,0,3,8,2740,1020,2007,0,98038,3280,4033,429900.0
1,2015,3,1.75,1460,7800,1.0,0,0,2,7,1040,420,1979,0,98023,1310,7865,233000.0
2,2014,4,1.00,1340,5800,1.5,0,2,3,7,1340,0,1914,0,98116,1900,5800,455000.0
3,2014,3,1.75,1440,8050,1.0,0,0,3,8,1440,0,1985,0,98023,1790,7488,258950.0
4,2014,2,1.50,1780,4750,1.0,0,0,4,7,1080,700,1947,0,98117,1690,5962,555000.0

The steps to construct a model

In [8]:
# get a training set: a X as with the features to relate and a y with the  target 
X = clean_data.iloc[:,1:-1]
y = clean_data.price

In [12]:
# Start spliting the data and import libraries

#import gradient tree boosting algorithm
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.30, random_state=1)

In [ ]:
# gradient boost classifier
# this model never ends running DONT USE
# create the model and fit it to the actual data, and print a classification report
clf1 = GradientBoostingClassifier(n_estimators=3 ,learning_rate=1.0,max_depth=1, random_state=0).fit(X_train, y_train)

#Predict the response for test dataset gradient boost
# This report include just columns selected for correlation grade.
y_pred = clf1.predict(X_test)
print(classification_report(y_test, y_pred))

In [21]:
#  xgboost regresor
import xgboost
from sklearn import metrics as sm

# createn instance and fit the model

clf2 = xgboost.XGBRegressor().fit(X_test, y_test)
y_pred = clf2.predict(X_test)

# This is how to generate a regresion report ( for regresion )
print("Mean absolute error =", round(
    sm.mean_absolute_error(y_test, y_pred), 2))
print("Mean squared error =", round(
    sm.mean_squared_error(y_test, y_pred), 2))
print("Median absolute error =", round(
    sm.median_absolute_error(y_test, y_pred), 2))
print("Explain variance score =", round(
    sm.explained_variance_score(y_test, y_pred), 2))
print("R2 score =", round(sm.r2_score(y_test, y_pred), 2))
print( "Mean squared error = ", round(
    sm.mean_squared_error(y_test, y_pred, squared=False )
))

[20:57:52] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Mean absolute error = 93880.32
Mean squared error = 17854597123.5
Median absolute error = 69931.84
Explain variance score = 0.87
R2 score = 0.87
Mean squared error =  133621

NEXT steps are tunning the model