<a href="https://colab.research.google.com/github/carlosdgerez/machine_learning/blob/main/firstBoostClasif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')

In [28]:
#Changing date to be in the same format as the rest of the years features
import datetime
housing['date'] = pd.DatetimeIndex(housing['date']).year

In [29]:
# selecting the data for the model ( first approach with all data to set a base to compare)

# drop several columns first 
clean_data = housing.drop(['id', 'lat', 'long'], axis = 1)

# change date name to something more descriptive
clean_data.rename(columns={'date': 'sale_date'}, inplace=True)

In [30]:
clean_data.head()

,sale_date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,price
0,2014,4,3.25,3760,4675,2.0,0,0,3,8,2740,1020,2007,0,98038,3280,4033,429900.0
1,2015,3,1.75,1460,7800,1.0,0,0,2,7,1040,420,1979,0,98023,1310,7865,233000.0
2,2014,4,1.00,1340,5800,1.5,0,2,3,7,1340,0,1914,0,98116,1900,5800,455000.0
3,2014,3,1.75,1440,8050,1.0,0,0,3,8,1440,0,1985,0,98023,1790,7488,258950.0
4,2014,2,1.50,1780,4750,1.0,0,0,4,7,1080,700,1947,0,98117,1690,5962,555000.0

The steps to construct a model

In [61]:
# get a training set: a X as with the features to relate and a y with the  target 
X = clean_data.iloc[:,1:-1]
y = clean_data.price

In [56]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sale_date      20000 non-null  int64
 1   bedrooms       20000 non-null  int64
 2   bathrooms      20000 non-null  float64
 3   sqft_living    20000 non-null  int64
 4   sqft_lot       20000 non-null  int64
 5   floors         20000 non-null  float64
 6   waterfront     20000 non-null  int64
 7   view           20000 non-null  int64
 8   condition      20000 non-null  int64
 9   grade          20000 non-null  int64
 10  sqft_above     20000 non-null  int64
 11  sqft_basement  20000 non-null  int64
 12  yr_built       20000 non-null  int64
 13  yr_renovated   20000 non-null  int64
 14  zipcode        20000 non-null  int64
 15  sqft_living15  20000 non-null  int64
 16  sqft_lot15     20000 non-null  int64
 17  price          20000 non-null  float64
dtypes: float64(3), int64(15)
memory usage: 2.7 MB

In [54]:
# Start spliting the data and import libraries

#import gradient tree boosting algorithm
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.30, random_state=1)

In [58]:
# gradient boost classifier
# this model never ends running DONT USE
# create the model and fit it to the actual data, and print a classification report
clf1 = GradientBoostingClassifier(n_estimators= 100, random_state=1, verbose = 1).fit(X_train, y_train) 
# This report include just columns selected for correlation grade.
y_pred = clf1.predict(X_test)
print(classification_report(y_test, y_pred))

      Iter       Train Loss   Remaining Time

KeyboardInterrupt: ignored

In [62]:
#  xgboost regresor
import xgboost
from sklearn import metrics as sm

# createn instance and fit the model

clf2 = xgboost.XGBRegressor(random_state=1, verbose = 1).fit(X_train, y_train)
y_pred = clf2.predict(X_test)

# This is how to generate a regresion report ( for regresion )
print("Mean absolute error =", round(
    sm.mean_absolute_error(y_test, y_pred), 2))
print("Mean squared error =", round(
    sm.mean_squared_error(y_test, y_pred), 2))
print("Median absolute error =", round(
    sm.median_absolute_error(y_test, y_pred), 2))
print("Explain variance score =", round(
    sm.explained_variance_score(y_test, y_pred), 2))
print("R2 score =", round(sm.r2_score(y_test, y_pred), 2))
print( "ROOT Mean squared error = ", round(
    sm.mean_squared_error(y_test, y_pred, squared=False )
))

[00:46:35] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Mean absolute error = 204254.09
Mean squared error = 108570127485.73
Median absolute error = 151605.88
Explain variance score = 0.19
R2 score = 0.19
ROOT Mean squared error =  329500

NEXT steps are tunning the model