<a href="https://colab.research.google.com/github/carlosdgerez/machine_learning/blob/main/secondBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')

In [2]:
#Changing date to be in the same format as the rest of the years features
import datetime
housing['date'] = pd.DatetimeIndex(housing['date']).year

In [3]:
# selecting clean dat including lat and long
clean_data = housing.drop(['id'], axis = 1)

In [6]:
clean_data.head()

,sale_date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,2014,4,3.25,3760,4675,2.0,0,0,3,8,2740,1020,2007,0,98038,47.3862,-122.048,3280,4033,429900.0
1,2015,3,1.75,1460,7800,1.0,0,0,2,7,1040,420,1979,0,98023,47.3035,-122.382,1310,7865,233000.0
2,2014,4,1.00,1340,5800,1.5,0,2,3,7,1340,0,1914,0,98116,47.5658,-122.389,1900,5800,455000.0
3,2014,3,1.75,1440,8050,1.0,0,0,3,8,1440,0,1985,0,98023,47.3187,-122.390,1790,7488,258950.0
4,2014,2,1.50,1780,4750,1.0,0,0,4,7,1080,700,1947,0,98117,47.6859,-122.395,1690,5962,555000.0

In [5]:

# change date name to something more descriptive
clean_data.rename(columns={'date': 'sale_date'}, inplace=True)

In [9]:
# get a training set: a X as with the features to relate and a y with the  target 
X = clean_data.iloc[:,0:-1]
y = clean_data.price

In [10]:
X

,sale_date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2014,4,3.25,3760,4675,2.0,0,0,3,8,2740,1020,2007,0,98038,47.3862,-122.048,3280,4033
1,2015,3,1.75,1460,7800,1.0,0,0,2,7,1040,420,1979,0,98023,47.3035,-122.382,1310,7865
2,2014,4,1.00,1340,5800,1.5,0,2,3,7,1340,0,1914,0,98116,47.5658,-122.389,1900,5800
3,2014,3,1.75,1440,8050,1.0,0,0,3,8,1440,0,1985,0,98023,47.3187,-122.390,1790,7488
4,2014,2,1.50,1780,4750,1.0,0,0,4,7,1080,700,1947,0,98117,47.6859,-122.395,1690,5962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2014,3,1.50,1000,6914,1.0,0,0,3,7,1000,0,1947,0,98125,47.7144,-122.319,1000,6947
19996,2014,3,2.50,3087,5002,2.0,0,0,3,8,3087,0,2014,0,98023,47.2974,-122.349,2927,5183
19997,2014,3,2.50,2120,4780,2.0,0,0,3,7,2120,0,2004,0,98053,47.6810,-122.032,1690,2650
19998,2014,1,0.75,380,15000,1.0,0,0,3,5,380,0,1963,0,98168,47.4810,-122.323,1170,15000
19999,2015,4,2.50,3130,5999,2.0,0,0,3,7,3130,0,2006,0,98042,47.3837,-122.099,3020,5997

In [11]:
# Start spliting the data and import libraries

#import train split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.30, random_state=1)

In [20]:
#  xgboost regresor
import xgboost
from sklearn import metrics as sm

# createn instance and fit the model

clf2 = xgboost.XGBRegressor(random_state=5, max_depth= 4, n_estimators= 900, learning_rate= 0.1, verbosity = 0, n_jobs = -1).fit(X_train, y_train)
y_pred = clf2.predict(X_test)

# This is how to generate a regresion report ( for regresion )
print("Mean absolute error =", round(
    sm.mean_absolute_error(y_test, y_pred), 2))
print("Mean squared error =", round(
    sm.mean_squared_error(y_test, y_pred), 2))
print("Median absolute error =", round(
    sm.median_absolute_error(y_test, y_pred), 2))
print("Explain variance score =", round(
    sm.explained_variance_score(y_test, y_pred), 2))
print("R2 score =", round( sm.r2_score(y_test, y_pred),4))
print( "ROOT Mean squared error = ", 
    round(sm.mean_squared_error(y_test, y_pred, squared=False 
)))

Mean absolute error = 63456.75
Mean squared error = 12521655714.93
Median absolute error = 37896.84
Explain variance score = 0.91
R2 score = 0.9061
ROOT Mean squared error =  111900

## Searching multiple parameters simultaneously

In [13]:
from sklearn.model_selection import GridSearchCV

In [14]:
# create list with the value for the parameters check

estimators = [100, 600, 900]
depth = range(2,6)
learning = [0.1,0.05, 0.01]

In [15]:
# Create the parameters grid dictionary
param_grid = dict(n_estimators=estimators, max_depth= depth, learning_rate= learning)

In [16]:
# instatiate the grid
grid = GridSearchCV(clf2, param_grid, cv=10, scoring='r2')

In [17]:
# fit the grid with data remember just X and y THIS CODE TAKES AT LEAST 15 to 30 MINUTES TO RUN
grid.fit(X,y)

GridSearchCV(cv=10,
             estimator=XGBRegressor(max_depth=4, n_estimators=600,
                                    random_state=5, verbosity=0),
             param_grid={'learning_rate': [0.1, 0.05, 0.01],
                         'max_depth': range(2, 6),
                         'n_estimators': [100, 600, 900]},
             scoring='r2')

In [18]:
print(grid.best_score_)
print (grid.best_params_)

0.9022325723439859
{'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 900}

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
param_dist = dict(n_estimators=estimators, max_depth = depth, learning_rate= learning)
rand = RandomizedSearchCV (clf2, param_dist, cv=10, scoring='r2', n_iter=10, random_state=5, n_jobs=-1)
rand.fit(X,y)

RandomizedSearchCV(cv=10,
                   estimator=XGBRegressor(max_depth=4, n_estimators=600,
                                          random_state=5, verbosity=0),
                   param_distributions={'learning_rate': [0.1, 0.05, 0.01],
                                        'max_depth': range(3, 6),
                                        'n_estimators': [100, 600, 900]},
                   random_state=5, scoring='r2')

In [ ]:
print(rand.best_score_)

0.8946050187521459

In [ ]:
print(rand.best_score_)
print(rand.best_params_)

0.8946050187521459
{'n_estimators': 900, 'max_depth': 3, 'learning_rate': 0.1}

# Adding new data to the set to improve performance

In [21]:
# download the income data

zip_code = pd.read_csv('https://raw.githubusercontent.com/carlosdgerez/machine_learning/main/mean_income_washington_by_zipcode.csv')
zip_code.head()

   zip_code  mean_income
0     98001       102586
1     98002        70945
2     98003        76753
3     98004       210129
4     98005       186020

In [22]:
# rename the columns as the one in clean data to use merge by this column
zip_code.rename(columns={'zip_code': 'zipcode'}, inplace = True)

In [23]:
# Use merge to get the data in the dataframe
new_clean_data = pd.merge(clean_data, zip_code, how= 'left', on= 'zipcode')

In [24]:
# reorder the data to have the target price at the end
column_to_move = new_clean_data.pop("mean_income")

# insert column with insert(location, column_name, column_value)

new_clean_data.insert(19, "mean_income", column_to_move)

# Run the model with the best parameters to see if improve the performance

In [27]:
# get a training set: a X as with the features to relate and a y with the  target 
X = new_clean_data.iloc[:,0:-1]
y = new_clean_data.price

In [28]:
# Start spliting the data and import libraries



X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.30, random_state=1)

In [31]:
#  xgboost regresor


# createn instance and fit the model

clf2 = xgboost.XGBRegressor(random_state=5, max_depth= 4, n_estimators= 900, learning_rate= 0.1, verbosity = 0, n_jobs=-1).fit(X_train, y_train)
y_pred = clf2.predict(X_test)

# This is how to generate a regresion report ( for regresion )
print("Mean absolute error in dollars =", round(
    sm.mean_absolute_error(y_test, y_pred), 2))
print("Mean squared error =", round(
    sm.mean_squared_error(y_test, y_pred), 2))
print("Median absolute error =", round(
    sm.median_absolute_error(y_test, y_pred), 2))
print("Explain variance score =", round(
    sm.explained_variance_score(y_test, y_pred), 2))
print("R2 score =", round( sm.r2_score(y_test, y_pred),4))
print( "ROOT Mean squared error in dollars = ", 
    round(sm.mean_squared_error(y_test, y_pred, squared=False 
)))

Mean absolute error in dollars = 62444.12
Mean squared error = 12296249175.04
Median absolute error = 37460.83
Explain variance score = 0.91
R2 score = 0.9078
ROOT Mean squared error in dollars =  110888

In [40]:


#  EVALUATION OF THE MODEL 

#Predict the response for test dataset with Random forest


# Features importances in a model this block can be run with diferent models to compare


feat_imports = (pd.DataFrame({"feature names": X_train.columns,
                              "importances": clf2.feature_importances_})
                .sort_values("importances", ascending=False))

feat_imports.reset_index(drop= True, inplace= True)

In [43]:
new_features = feat_imports['feature names'][0:10]

# Run model with less features

In [48]:
# get a training set: a X as with the features to relate and a y with the  target 
X = new_clean_data[new_features]
y = new_clean_data.price

In [49]:
# Start spliting the data and import libraries



X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=.30, random_state=1)

In [50]:
#  xgboost regresor


# createn instance and fit the model

clf2 = xgboost.XGBRegressor(random_state=5, max_depth= 4, n_estimators= 900, learning_rate= 0.1, verbosity = 0, n_jobs=-1).fit(X_train, y_train)
y_pred = clf2.predict(X_test)

# This is how to generate a regresion report ( for regresion )
print("Mean absolute error in dollars =", round(
    sm.mean_absolute_error(y_test, y_pred), 2))
print("Mean squared error =", round(
    sm.mean_squared_error(y_test, y_pred), 2))
print("Median absolute error =", round(
    sm.median_absolute_error(y_test, y_pred), 2))
print("Explain variance score =", round(
    sm.explained_variance_score(y_test, y_pred), 2))
print("R2 score =", round( sm.r2_score(y_test, y_pred),4))
print( "ROOT Mean squared error in dollars = ", 
    round(sm.mean_squared_error(y_test, y_pred, squared=False 
)))

Mean absolute error in dollars = 68332.42
Mean squared error = 15009879103.6
Median absolute error = 41699.44
Explain variance score = 0.89
R2 score = 0.8875
ROOT Mean squared error in dollars =  122515

Reducing the name of columns by importances yield worst results

Graphing importances with altair.