<a href="https://colab.research.google.com/github/carlosdgerez/machine_learning/blob/main/notebooks/hint_dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Just creating a fake DataFrame to experiment with
data = pd.DataFrame({'start': ["1/1/2020", "2/3/2020", "2/5/2020"], 'end': ['5/20/2020', '3/4/2020', '8/19/2020']})
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   3 non-null      object
 1   end     3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

      start        end
0  1/1/2020  5/20/2020
1  2/3/2020   3/4/2020
2  2/5/2020  8/19/2020

In [ ]:
# First, let's convert the columns to datetimes. We could create a new column
# for this, but we'll just overwrite the old column since we're changing the type
# not the values
data['start'] = pd.to_datetime(data['start'])
data['end'] = pd.to_datetime(data['end'])
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   3 non-null      datetime64[ns]
 1   end     3 non-null      datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 176.0 bytes

       start        end
0 2020-01-01 2020-05-20
1 2020-02-03 2020-03-04
2 2020-02-05 2020-08-19

In [ ]:
# Now, let's calculate the difference between the dates in days and months
import numpy as np
data['days'] = (data['end'] - data['start']) / np.timedelta64(1, 'D')
data['months'] = (data['end'] - data['start']) / np.timedelta64(1, 'M')
data

       start        end   days    months
0 2020-01-01 2020-05-20  140.0  4.599684
1 2020-02-03 2020-03-04   30.0  0.985647
2 2020-02-05 2020-08-19  196.0  6.439557

In [ ]:
# Let's do a more complex calculation where we only start counting time after 2/1/2020
# So if their start date is before that, we use 2/1/2020 as our base, otherwise
# we use their actual start date
def calc_time_delta(x):
  base = pd.to_datetime("02/01/2020")
  # Ignore NaNs
  if pd.isnull(x['start']) or pd.isnull(x['end']):
    return x
  elif x['start'] > base:
    return x['end'] - x['start']
  else:
    return x['end'] - base

data['days'] = data.apply(calc_time_delta, axis=1) / np.timedelta64(1, 'D')
data['months'] = data.apply(calc_time_delta, axis=1) / np.timedelta64(1, 'M')
data

       start        end   days    months
0 2020-01-01 2020-05-20  109.0  3.581182
1 2020-02-03 2020-03-04   30.0  0.985647
2 2020-02-05 2020-08-19  196.0  6.439557