<a href="https://colab.research.google.com/github/carlosdgerez/machine_learning/blob/main/module4/firstAproach.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

bikes = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/bikes.csv')

In [19]:
bikes

,dteday,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,casual,registered
0,1/1/11,1,0,0,0,1,0.81,0,3.28,3.0014,3,13
1,1/1/11,1,1,0,0,1,0.80,0,2.34,1.9982,8,32
2,1/1/11,1,2,0,0,1,0.80,0,2.34,1.9982,5,27
3,1/1/11,1,3,0,0,1,0.75,0,3.28,3.0014,3,10
4,1/1/11,1,4,0,0,1,0.75,0,3.28,3.0014,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
16632,11/30/12,4,19,0,1,1,0.66,0,7.04,7.0010,18,359
16633,11/30/12,4,20,0,1,1,0.66,0,7.04,7.0010,12,233
16634,11/30/12,4,21,0,1,1,0.75,6,6.10,5.0012,14,169
16635,11/30/12,4,22,0,1,1,0.75,0,6.10,5.9978,18,145
16636,11/30/12,4,23,0,1,2,0.75,6,6.10,5.0012,11,99

In [20]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16637 entries, 0 to 16636
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dteday        16637 non-null  object
 1   season        16637 non-null  int64
 2   hr            16637 non-null  int64
 3   holiday       16637 non-null  int64
 4   workingday    16637 non-null  int64
 5   weathersit    16637 non-null  int64
 6   hum           16637 non-null  float64
 7   windspeed     16637 non-null  int64
 8   temp_c        16637 non-null  float64
 9   feels_like_c  16637 non-null  float64
 10  casual        16637 non-null  int64
 11  registered    16637 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1.5+ MB

In [21]:
bikes['dteday'] = pd.to_numeric(bikes.dteday.str.replace('/',''))

In [39]:
bikes['target'] = bikes.casual + bikes.registered
bikes

AttributeError: ignored

In [38]:
bikes.drop(['casual', 'registered'], axis=1, inplace=True)

In [40]:
train_dataset = bikes.sample(frac=0.8, random_state=0)
test_dataset = bikes.drop(train_dataset.index)
validation_dataset= test_dataset.head(1663)
test_dataset = test_dataset.tail(1664)

In [41]:
test_dataset

,dteday,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,target
8131,121011,4,11,0,0,1,0.53,28,7.04,3.0014,236
8142,121011,4,22,0,0,1,0.41,9,2.34,-0.9982,95
8144,121111,4,0,0,0,1,0.51,15,1.40,-2.9980,74
8146,121111,4,2,0,0,1,0.55,17,0.46,-4.9978,52
8149,121111,4,5,0,0,1,0.59,7,0.46,-2.0014,6
...,...,...,...,...,...,...,...,...,...,...,...
16606,112912,4,17,0,1,1,0.39,13,7.98,5.9978,561
16610,112912,4,21,0,1,1,0.65,9,4.22,1.9982,208
16614,113012,4,1,0,1,1,0.70,6,3.28,1.0016,19
16623,113012,4,10,0,1,2,0.65,0,6.10,5.9978,169
16634,113012,4,21,0,1,1,0.75,6,6.10,5.0012,183

In [42]:
train_dataset

,dteday,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,target
6202,92111,3,0,0,1,1,1.00,0,17.38,18.0032,27
13128,7612,3,5,0,1,1,0.66,13,26.78,30.0020,35
16621,113012,4,8,0,1,2,0.80,6,2.34,1.0016,729
7057,102611,4,16,0,1,2,0.77,6,16.44,17.0000,213
5704,83111,3,3,0,1,1,0.78,0,18.32,18.9998,6
...,...,...,...,...,...,...,...,...,...,...,...
4952,73011,3,6,0,0,1,0.70,20,25.84,28.9988,24
6013,91311,3,3,0,1,1,0.83,0,19.26,20.0030,4
13919,8812,3,4,0,1,1,0.84,0,24.90,28.0022,7
1935,32611,2,10,0,0,1,0.41,11,4.22,1.0016,125
5066,8411,3,0,0,1,2,0.89,6,23.96,26.0024,17

In [43]:
validation_dataset

,dteday,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c,target
0,1111,1,0,0,0,1,0.81,0,3.28,3.0014,16
13,1111,1,13,0,0,2,0.72,20,13.62,13.9970,94
21,1111,1,21,0,0,2,0.87,13,10.80,11.0006,34
26,1211,1,2,0,0,2,1.00,19,11.74,11.9972,9
27,1211,1,3,0,0,2,0.94,13,13.62,13.9970,6
...,...,...,...,...,...,...,...,...,...,...,...
8092,12811,4,20,0,1,1,0.60,7,4.22,1.9982,175
8095,12811,4,23,0,1,1,0.70,7,3.28,1.0016,61
8106,12911,4,10,0,1,2,0.70,11,6.10,3.9980,126
8121,121011,4,1,0,0,2,0.70,11,4.22,1.0016,66
8125,121011,4,5,0,0,1,0.60,11,4.22,1.0016,6

In [44]:
train_dataset.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
dteday,13310.0,47724.871150,38601.782491,1111.00,10611.0000,41811.50,81912.0000,123111.0000
season,13310.0,2.483471,1.085768,1.00,2.0000,2.00,3.0000,4.0000
hr,13310.0,11.529076,6.907057,0.00,6.0000,12.00,18.0000,23.0000
holiday,13310.0,0.028625,0.166757,0.00,0.0000,0.00,0.0000,1.0000
workingday,13310.0,0.685575,0.464304,0.00,0.0000,1.00,1.0000,1.0000
weathersit,13310.0,1.422615,0.643070,1.00,1.0000,1.00,2.0000,4.0000
hum,13310.0,0.626212,0.193198,0.00,0.4700,0.63,0.7800,1.0000
windspeed,13310.0,12.738317,8.179928,0.00,7.0000,13.00,17.0000,57.0000
temp_c,13310.0,15.706998,9.031127,-7.06,7.9800,16.44,23.0200,38.0600
feels_like_c,13310.0,15.831020,11.309288,-16.00,5.9978,17.00,24.9992,48.9968
target,13310.0,190.525094,182.913728,1.00,40.0000,142.00,283.0000,977.0000

In [45]:
validation_dataset.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
dteday,1663.0,45091.817799,36266.188950,1111.0000,10661.0000,41211.00,72961.0000,121011.00
season,1663.0,2.500301,1.068009,1.0000,2.0000,3.00,3.0000,4.00
hr,1663.0,11.814793,6.932672,0.0000,6.0000,12.00,18.0000,23.00
holiday,1663.0,0.025256,0.156948,0.0000,0.0000,0.00,0.0000,1.00
workingday,1663.0,0.681900,0.465879,0.0000,0.0000,1.00,1.0000,1.00
weathersit,1663.0,1.407096,0.629880,1.0000,1.0000,1.00,2.0000,3.00
hum,1663.0,0.639651,0.198244,0.0000,0.4850,0.65,0.8100,1.00
windspeed,1663.0,12.866506,8.160999,0.0000,7.0000,13.00,17.0000,50.00
temp_c,1663.0,15.667877,9.424852,-7.0600,7.9800,16.44,23.0200,37.12
feels_like_c,1663.0,15.812464,11.817372,-12.0004,5.9978,17.00,24.9992,50.00
target,1663.0,148.370415,132.229402,1.0000,34.0000,119.00,218.0000,608.00

In [46]:
train_features = train_dataset.copy()
test_features = test_dataset.copy()
validation_features = validation_dataset.copy()

train_labels = train_features.pop('target')
test_labels = test_features.pop('target')
validation_labels = validation_features.pop('target')

In [47]:
validation_features

,dteday,season,hr,holiday,workingday,weathersit,hum,windspeed,temp_c,feels_like_c
0,1111,1,0,0,0,1,0.81,0,3.28,3.0014
13,1111,1,13,0,0,2,0.72,20,13.62,13.9970
21,1111,1,21,0,0,2,0.87,13,10.80,11.0006
26,1211,1,2,0,0,2,1.00,19,11.74,11.9972
27,1211,1,3,0,0,2,0.94,13,13.62,13.9970
...,...,...,...,...,...,...,...,...,...,...
8092,12811,4,20,0,1,1,0.60,7,4.22,1.9982
8095,12811,4,23,0,1,1,0.70,7,3.28,1.0016
8106,12911,4,10,0,1,2,0.70,11,6.10,3.9980
8121,121011,4,1,0,0,2,0.70,11,4.22,1.0016
8125,121011,4,5,0,0,1,0.60,11,4.22,1.0016

In [48]:
validation_labels

0        16
13       94
21       34
26        9
27        6
       ...
8092    175
8095     61
8106    126
8121     66
8125      6
Name: target, Length: 1663, dtype: int64